<div class="app-menu">
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-th-list"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>{{#link-to "notes"}}Notes{{/link-to}}</li>
      <li>{{#link-to "tags"}}Tags{{/link-to}}</li>
      <li>{{#link-to "search"}}Search{{/link-to}}</li>
      <li class="divider"></li>
      <li><a href="/sign_out">Sign out</a></li>
    </ul>
  </div>
</div>