
html,body {
    left:0;
    top:0;
    bottom:0;
    right:0;
}

.ember-application > div{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
}

.fill {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
}

.search-input-view{
    display:inline;
    input{
        padding:2px 6px;
    }
}

.select-sort-notes {
    font-size:80%;
}

#note-list{
    border-top:3px solid white;
    top:33px;
    overflow-y:auto;
    &:focus{
        border-top:3px solid #eee;
    }
    table{
        border:0px;
    }
    td{
        border:0px;
        border-top: 1px solid #dddddd;
        padding:10px 15px;
        border-left:10px solid;
    }
    span.note-name{
        font-weight:bold;

    }
    span.note-date{
        color:#999;
        float:right;
    }
}

.app-header{
    z-index:1000;
    position:fixed;
    left:0;
    right:0;
    background:#eee;
    padding-top:4px;
    padding-left:5px;
    height:40px;
    border-bottom:1px solid #ccc;
}
.app-menu{
    display:inline;
    padding-right:15px;
}
.sidebar{
    border-right:1px solid #ccc;
    position:absolute;
    width:280px;
}
.sidebar-menu{
    border-bottom:1px solid #ccc;
    height:33px;
}

.note{
    margin-left:280px;
    overflow-y:auto;
}
#note > div{
    height:100%;
}

#input-add-tag{
    font-size:13px;
    margin:0px;
    border:1px solid #ccc;
    padding:2px;
    padding-left:5px;
    border-radius:4px;
}
.note-header{
    padding:5px 0px;
    border-bottom:1px solid #ccc;
}
.note-tags{
    padding-left:15px;
    padding-top:5px;
}

.note-row:hover {
    td {
        background-color:white;
        position:relative;
    }

    .note-control{
        display:block;
    }
}

.note-control{
    display:none;
    position:absolute;
    bottom:8px;
    right:15px;
}

.note-reloding{
    z-index:1000;
    margin-left:-15px;
    padding:15px;
    background:white;
    width:100%;
    height:100%;
    position:absolute;
}

.note-edit{
    position:relative;
    height:100%;
    float:left;
    width:50%;
    .error-message span{
        color:red;
    }
}


.note-show{
    padding:0px 15px;
    .info {
        color:#999;
        margin-right:10px;
    }
    span.name{
        font-weight:bold;
    }
    span.tag{
        margin-right:3px;
        font-size:80%;

    }
    .note-show-left{
        padding-left:15px;
        width:60%;
        float:left;
        overflow:hidden;
    }
    .note-show-right{
        float:right;
        text-align:right;
        margin-right:10px;
    }
}

.preview{
    float:left;
    width:50%;
    position:absolute;
    overflow-y:auto;
    padding:15px;
    border-left:1px solid #ccc;
    bottom:0px;
    margin-left:50%;
    top:0px;
}

.ace {
    height:100%;
}

.ace-wrapper {
    position: absolute;
    top:100px;
    left:0px;
    bottom:65px;
    width:100%;
    right:0px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
}

.note-edit-bottom-control{
    position:absolute;
    bottom:0px;
    left: 0px;
    width:100%;
    height:65px;
    padding: 15px;
    margin:0px;
}

.note-top-control-wrap{
    background:#eee;
    padding:10px 0px;

}

.form-input-control-wrap{
    position:relative;
    padding:3px 15px;
}

.form-input-control{
    margin:0px;
    border:1px solid #ccc;
    padding:4px 6px;
    width:100%;
}

.note-edit-textarea-wrap{
    position: absolute;
    top:95px;
    left:0px;
    bottom:65px;
    right:0px;
    background:#eee;
}

.note-edit-textarea{
    &:focus{
        outline: none;
    }
    padding:15px;
    border:0px;
    width:100%;
    height:100%;
    resize: none;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
}

.form-note-input-tag{
    border:1px solid #ccc;
    input {
        border:0px;
    }
}

//
// bootstrap-tagsinput.css
// append style
.bootstrap-tagsinput{
    width:100%;
}

.tag-label{
    margin-right:3px;
}

.search-notes{
    .note-row {
        margin-bottom:10px;
    }
    padding: 20px;
    .note-title{
        padding:5px;
        h2 {
            display:inline;
            margin-right:5px;
        }
        background-color:#eee;
    }
    .note-content{
        padding:10px 0px;
        max-height:300px;
        // overflow-y: scroll;
        overflow: hidden;
    }
}

// override ember-addons.bs_for_ember
.growl-notifications{
    position:fixed;
    right:10px;
    top:50px;
    z-index:9999;
}