
html,body {
    left:0;
    top:0;
    bottom:0;
    right:0;
}

.ember-application > div{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
}

.fill {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
}

.tag-input-view{
    display:inline;
}

.select-sort-notes {
    font-size:80%;
}

#note-list{
    border-top:3px solid white;
    top:33px;
    overflow-y:auto;
    &:focus{
        border-top:3px solid #eee;
    }
    td{
        padding:10px 15px;
    }
    span.note-name{
        font-weight:bold;

    }
    span.note-date{
        color:#999;
        float:right;
    }
}

.app-header{
    background:#eee;
    padding-top:8px;
    padding-left:15px;
    height:40px;
    border-bottom:1px solid #ccc;
}
.sidebar{
    border-right:1px solid #ccc;
    position:absolute;
    width:280px;
}
.sidebar-menu{
    border-bottom:1px solid #ccc;
    height:33px;
}

.note{
    margin-left:280px;
    overflow-y:auto;
}

#input-add-tag{
    font-size:13px;
    margin:0px;
    border:1px solid #ccc;
    padding:2px;
    padding-left:5px;
    border-radius:4px;
}
.note-header{
    padding:5px 0px;
    border-bottom:1px solid #ccc;
}
.note-title{
    display:inline;
    font-size:16pt;
}
.note-tags{
    padding-left:15px;
    padding-top:5px;
}

.note-row:hover {
    td {
        background-color:white;
        position:relative;
    }

    .note-control{
        display:block;
    }
}

.note-control{
    display:none;
    position:absolute;
    bottom:8px;
    right:15px;
}

.note-reloding{
    z-index:1000;
    margin-left:-15px;
    padding:15px;
    background:white;
    width:100%;
    height:100%;
    position:absolute;
}

.note-edit{
    float:left;width:50%;
    padding: 0px 25px;
    .error-message span{
        color:red;
    }
}


.note-show{
    padding:0px 15px;
    .info {
        color:#999;
        margin-right:10px;
    }
    span.name{
        font-weight:bold;
    }
    span.tag{
        margin-right:3px;
        font-size:80%;

    }
    .note-show-left{
        padding-left:15px;
        width:60%;
        float:left;
        overflow:hidden;
    }
    .note-show-right{
        float:right;
        text-align:right;
        margin-right:10px;
    }
}

.preview{
    float:left;
    width:50%;
    position:absolute;
    overflow-y:auto;
    padding:15px;
    border-left:1px solid #ccc;
    bottom:0px;
    margin-left:50%;
    top:0px;
}